@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.task {
  color: white;
  text-shadow: 2px 2px black;
  font-family: "Alfa Slab One", cursive;
  border-style: none;
  border-color: black;
  border-left-width: 0px;
  background-color: skyblue;

  padding: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reminder {
  border-style: solid;
  border-color: black;
  border-left-width: 8px;
}
